<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <div class="container">
          <a class="navbar-techblog" href="/">Tech Blog</a>
          <div class="navigation">
             {{#if loggedIn}}
                  <a class="nav-home" aria-current="page1" href="/">Home</a>
                  <a class="nav-dash" href="/dashboard">Dashboard</a>
                    <div id="logout-btn">
                      <a class="nav-link" href="/logout">Logout</a>
                    </div>
                       {{else}}
                       <a class="nav-link" href="/login">Login</a>
                       {{/if}}
          </div>
        </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
